body {
  background: #fcfcfc;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 70px 0;
}

a {
  color: #64b01f;
}

a:hover {
  color: #4b940a;
  text-decoration: none;
}

.row {
  margin: 0;
}

label {
  margin-bottom: 5px;
  margin-top: 15px;
}

label:first-child {
  margin-top: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #7dcc36;
}

.form-date .form-date-single {
  width: 32.5%;
  display: inline-block;
}

.btn-dark {
  color: #FFF;
  background-color: #474949;
  border-color: #474949;
  background-image: none;
  box-shadow: none;
}

.btn-dark:hover {
  color: #FFF;
  background-color: #3a3c3c;
  border-color: #2e2f2f;
}

.btn-green {
  color: #FFF;
  background: #72c02c;
}

.btn-green:hover {
  color: #FFF;
  background: #7dcc36;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.panel .panel-heading {
  background: #f3f3f3;
  border-bottom: 1px solid #e1e1e1;
}

.nav-tabs {
  margin-bottom: 25px;
}

#navigationTop.navbar {
  line-height: 50px;
  vertical-align: middle;
  background-color: #FDFDFD;
  border-color: #E7E7E7;
}

#navigationTop.navbar > a.navbar-logo {
  float: left;
  margin-left: 85px;
}

#navigationTop.navbar > .navbar-user {
  float: right;
  margin: 0;
  display: inline;
  height: 50px;
  font-size: 20px;
  text-align: right;
  margin: 0;
}

#navigationTop.navbar > .navbar-user > li {
  display: inline-block;
  border-left: 1px solid #e3e3e3;
  -webkit-transition: all 0.2s;
  /* Safari */
  transition: all 0.2s;
}

#navigationTop.navbar > .navbar-user > li > a {
  color: #707070;
  display: inline-block;
  text-decoration: none;
  display: block;
  padding: 0 20px;
}

#navigationTop.navbar > .navbar-user > li > a > .navbar-username {
  font-size: 16px;
  padding-right: 10px;
  text-transform: capitalize;
}

#navigationTop.navbar > .navbar-user > li:hover {
  background-color: #FFF;
}

#navigationTop.navbar > .navbar-user > li.dropdown ul.dropdown-menu {
  margin: 0;
  right: 0;
  left: auto;
  border-radius: 0;
  box-shadow: 0 5px 10px rgba(153, 153, 153, 0.15);
  border: none;
}

#navigationTop.navbar > .navbar-user > li.dropdown ul.dropdown-menu li a {
  color: #707070;
}

#navigationTop.navbar > .navbar-user > li.dropdown ul.dropdown-menu li a:hover {
  background: #f3f3f3;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fcfcfc;
  padding: 15px 35px;
  height: 50px;
}

#content {
  margin: 0;
}

#content nav #navigation li a {
  border-bottom: 1px solid #e1e1e1;
  font-size: 15px;
  color: #707070;
  -webkit-transition: all 0.2s;
  /* Safari */
  transition: all 0.2s;
}

#content nav #navigation li a > i {
  margin-right: 10px;
  font-size: 18px;
  text-align: left;
}

#content nav #navigation li a:hover {
  color: #72c02c;
  background: #f3f3f3;
}

.breadcrumb {
  background: #7dcc36;
  border-left: 5px solid #72c02c;
  color: #FFF;
  text-align: right;
  border-radius: 0;
}

caption, .messageHeader {
  background: #F0F0F0;
  padding: 7px 10px;
  text-align: left;
  margin-bottom: 20px;
}

.headline {
  border-bottom: 2px solid #ebebeb;
  margin-bottom: 20px;
}

.headline h3 {
  display: inline-block;
  position: relative;
  bottom: -2px;
  margin: 0;
  padding: 0;
  color: #555;
  text-shadow: 0 0 1px #f6f6f6;
  font-size: 22px;
  text-decoration: none;
  border-bottom: 2px solid #7dcc36;
  font-weight: normal;
  padding: 0 20px 0 0;
  font-family: 'Open Sans', sans-serif;
  height: 35px;
}

.headline h1 {
  display: inline-block;
  position: relative;
  bottom: -2px;
  margin: 0;
  padding: 0;
  color: #555;
  text-shadow: 0 0 1px #f6f6f6;
  text-decoration: none;
  border-bottom: 2px solid #7dcc36;
  font-weight: normal;
  padding: 0 20px 0 0;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
}

.messageContent .messageTopic .messageSingleTopic {
  margin: 15px 0;
  background: #FFF;
  border-top: 1px solid #DDD;
}

/*Removing spinboxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.image-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.image-list li {
  display: inline-block;
  margin: 0 10px 10px 0;
  height: auto;
  max-width: 100%;
  padding: 5px;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.image-list li:hover {
  border: 2px solid #7dcc36;
}

@media screen and (max-width: 992px) {
  #navigation li {
    display: inline-block;
  }
  #navigation li a {
    border: none !important;
  }
  #navigation li a i {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  #navigationTop.navbar .navbar-user {
    padding: 0;
  }
  #navigationTop.navbar a.navbar-logo {
    margin-left: 5%;
  }
}

@media screen and (max-width: 465px) {
  #navigationTop.navbar .navbar-user li > a {
    padding: 0 15px;
  }
}

.userlist tr .userlist-single-name {
  text-transform: capitalize;
  font-size: 15px;
}

.userlist tr .userlist-single-nav {
  display: block;
  visibility: hidden;
  font-size: 13px;
  color: #9E9E9E;
}

.userlist tr .userlist-single-nav a {
  color: #9E9E9E;
}

.userlist tr .userlist-single-nav a:hover {
  color: #888;
}

.userlist tr:hover .userlist-single-nav {
  visibility: visible;
}

.mce-panel {
  background-image: none !important;
  border-color: #E4E4E4 !important;
  margin-bottom: 15px !important;
  margin-top: 20px !important;
}

.mce-panel .mce-stack-layout-item {
  display: block;
  margin: 0 !important;
}

.mce-menu {
  margin: 0px !important;
}
